body {
  height: 100%;
  width: 100%;
  margin: 0;

  background-image: url('assets/images/sdcwall2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
